body,
html
*{
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 5;
    font-family: 'Maven Pro', sans-serif;
    font-family: 'Playfair Display', serif;
}
body{
    background-color: rgb(220, 186, 220);
}
.containers{
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 75vw;
    align-items: center;
}

h1{
    font-size: 3.5rem;
    text-align: center;
    text-decoration: overline;
}
h4{
    text-align: center;
    font-size: 1rem
}
h2{
    text-align: center;
    font-size: 1.3rem
}

.card{
    height: 50vh;
    width: 23%;
    margin-right: 0.6rem;
    margin-left: 0.6rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    background-color: rgba(240, 240, 110, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 9px 10px rgba(252, 190, 18, 0.3);
    border-radius: 10px;
}
.card-img{
    width: 15vw;
    height: 30vh;
    object-fit: cover;
}
.card-title{
    font-size: 1.4rem;
    margin-top: 1rem;
}
